li {
  display: inline-block;
  margin: auto 3%;
}

ul {
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px;
}

nav {
  /* position: fixed; */
  margin: auto;
  max-width: 85%;
  text-align: center;
  background-color: #273b42;
  padding: 15px 0;

}

.colors {
  margin: 60px auto;
  width: 85%;
  padding: 30px 35px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

input {
  padding: 20px;
  margin: 3px;
}

.color {
  display: inline-block;
  padding: 30px;
  text-align: left;
  margin: 20px;
  border-radius: 4px;
}

.fonts {
  margin: 60px auto;
  width: 85%;
  padding: 30px 35px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.font {
  display: inline-block;
  margin: 60px 23px;
  padding: 30px 35px;
  width: 40%;
  text-align: left;
  border-radius: 4px;
}

.text_styles {
  margin: 60px auto;
  width: 85%;
  padding: 30px 35px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.text_style {
  display: inline-block;
  margin: 60px 23px;
  padding: 30px 35px;
  width: 40%;
  min-height: 20em;
  text-align: left;
  border-radius: 4px;
}

.content_styles_example {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border: 1px rgba(0, 0, 0, 0.09) solid;
  border-radius: 4px;
  padding: 5px;
  margin: 20px;
  height: 6em;
  width: 90%
}

textarea {
  margin: 20px;
  display: inline-block;
}

.little_button {

}

.illustration {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px rgba(0, 0, 0, 0.09) solid;
  border-radius: 4px;
  padding: 5px;
  margin: 30px auto;
  height: 9em;
  width: 90%
}

.illustration p {
  margin: 15px 0;
  vertical-align: middle;
}

._1 {
  background-color: #2d5dcc;
}

._2 {
  background-color: #d957d9;
}

._3 {
  background-color: #4fe0b0;
}

._4 {
  background-color: #efd9ca;
}

._5 {
  background-color: #F0F8FF;
}

._6 {
  background-color: #9932CC;
}

#super {
  text-align: center;
  display: block;
  width: 50%;
  margin: 10px auto;
}

#copy_css_img {
  display: inline-block;
  margin: 20px;
  margin-left: 35.5%;

}

figure.img_style_example {
  margin: 60px auto;
  width: 85%;
  padding: 30px 35px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

div.img_style {
  display: block;
  width: 85%;
}

div.img_style {
  display: inline-block;
  padding: 30px;
  text-align: left;
  margin: 20px;
  border-radius: 4px;
}
