/* Text styles*/

body {
  font-family: "Poppins";
  background-color: #F0FFFF;
}

h1 {
  color: #262626;
}

h2 {
  font-size: 1.3rem;
  color: #4d4d4d;
}

h3 {
  color: #4d4d4d;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0099ff;
  font-weight: bolder;
  transition-duration: 0.4s;
}

a:hover {
  color: #e0f9ff;
}

nav {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  border-radius: 4px;
  opacity: .75;
}

button {
  padding: 3px 3px;
  margin: 1px;
  border: none;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
  color: #0070bb;
  transition-duration: 0.4s;
  border-radius: 4px;
}

button:hover {
  color: #4d4d4d;
}

input {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

textarea {
  border: none;
  padding: 20px;
  border-radius: 4px;
  margin: 3px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.colors {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.color {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.fonts {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.font {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.text_styles {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.text_style {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.content_styles_example {
  background-color: white;
}
