/* Text styles*/

body {
  font-family: "Poppins";
  background-color: #ffffff;
}

h1 {
  color: #262626;
}

h2 {
  font-size: 1.3rem;
  color: #4d4d4d;
}

h3 {
  color: #4d4d4d;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bolder;
  transition-duration: 0.4s;
}

a:hover {
  color: #e0f9ff;
}

nav {
  box-shadow: 0px 7px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
  border-radius: 4px;
  opacity: .75;
}

button {
  padding: 3px 3px;
  margin: 1px;
  border: none;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
  color: #0070bb;
  transition-duration: 0.4s;
  border-radius: 4px;
}

button:hover {
  color: #4d4d4d;
}

input {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

textarea {
  border: none;
  padding: 20px;
  border-radius: 4px;
  margin: 3px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.colors {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.color {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.fonts {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.font {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.text_styles {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.text_style {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.content_styles_example {
  background-color: white;
}

.illustration {
  background-color: white;
}

.img_styles {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

.colors,
.fonts,
.text_styles {
  background-color: #cceed6;
}

.color,
.font,
.text_style {
  background-color: #ccd4ee;
}

figure {
  background-color: #ccd4ee;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}

div.img_style {
  background-color: #cceed6;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
}
